<header>
    <nav>
        <a href="/" style="color: #f3f3f3;" >Mybrary</a>
        <ul>
            <li><a href="/authors" style="color: #f3f3f3;">Authors</a></li>
            <li><a href="/authors/new" style="color: #f3f3f3;">Add Author</a></li>
        </ul>
    </nav>
</header>