<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mybrary</title>
</head>
<body style="background-color: #252525; color: #f3f3f3">
    <h3>Before</h3>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMsg.ejs') %> 
    <%- body %> 
    <h3>After</h3>
    
</body>
</html>